/* display - inline, block, inline-block, flex, grid */

/* .inline{
    display: inline;
    height: 200px;
    width: 200px;
}

.block{
    display: block;
}

.inline-block{
    display: inline-block;
    width: 100px;
    height: 100px;
} */

.flex{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.flex > div{
    width: 100px;
    height: 100px;
    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;
}