/* display - inline, block, inline-block, flex, grid */

*{
    margin: 0;
}

/* .inline{
    display: inline;
    height: 200px;
    width: 200px;
}

.block{
    display: block;
}

.inline-block{
    display: inline-block;
    width: 100px;
    height: 100px;
} */

.flex{
    display: flex;
    height: 100vh;
    gap: 20px;
    /* justify-content: space-evenly;
    align-items: end; */
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.flex > div{
    width: 100px;
    height: 100px;
    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;
}