*{
    margin: 0;
    padding: 0;
}

/* @keyframes */

.box{
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* @keyframes slide{
    from{
        left: 0;
        transform: rotate(0deg);
        border-radius: 0;
    }
    to{
        left: 500px;
        transform: rotate(360deg);
        border-radius: 100px;
        background-color: green;
    }
} */

@keyframes move{
    0%, 100%{
        top: 0;
        left: 0;
    }
    25%{ 
        top: 0;
        left: 500px;
        background-color: green;
    }
    50%{
        top: 500px;
        left: 500px;
        background-color: yellow;
    }
    75%{
        top: 500px;
        left: 0;
        background-color: blue;
    }
    /* 100%{
        top: 0;
        left: 0;
    } */
}

/* 0, 25, 50, 75, 100 */