*{
    margin: 0;
}

body{
    color: white;
}

header{
    height: 110px;
    background-color: #00D2C6;
    display: flex;
    justify-content: space-between;
    padding-inline: 40px;
    align-items: center;
    border-bottom: 1px solid white;
}

header nav .nav, header nav .social{
    display: flex;
    gap: 30px;
    list-style: none;
}

header nav{
    display: flex;
    gap: 10px;
}

header nav .social{
    gap: 10px;
}

.section-one{
    background: url(../assets/bg1.png) no-repeat center/cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    font-size: 80px;
    font-family: "Madimi One", sans-serif;
    font-weight: 900;
    line-height: 0.9;
}

.section-one span{
    display: block;
}

.section-one button{
    display: block;
    border-radius: 100px;
    border: 2px solid white;
    padding: 10px;
    padding-inline: 16px;
    background-color: transparent;
    color: white;
    width: 150px;
    margin-top: 30px;
}