/* 
    psudo-class: target an element's state
    psudo-elements: target specific parts of an element or create virtual content
*/

/* hover */

.demo{
    color: red;
}

.demo:hover{
    color: green;
}

.demo:active{
    background-color: black;
}

input{
    border: 2px solid black;
    outline: none;
}

input:focus{
    border-color: blue;
    border-radius: 10px;
}

a:link{
    color: red;
}

a:visited{
    color: gray;
}

/* psudo elements */

/* first-letter, first-line */

.paragraph::first-letter{
    font-size: 50px;
    color: red;
}

.paragraph::first-line{
    background-color: red;
    font-weight: bold;
}

/* before, after */

.psudo::before{
    content: "🔎";
}

.psudo::after{
    content: "📞";
}



/* -------------------------------------------- */

.btn{
    border: none;
    padding: 5px;
    padding-inline: 15px;
    background-color: orangered;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 8px;
    box-shadow: 1px 1px 0 black;
    cursor: grab;
}

.btn:hover{
    background-color: grey;
}

.btn:active{
    box-shadow: none;
    scale: 0.98;
}

.btn-before{
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    padding: 8px;
    padding-inline: 16px;
}

.btn-before::after{
    content: "🛒";
}

.btn-before::before{
    content: "";
    height: 1.5px;
    width: 0%;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

.btn-before:hover::before{
    width: 100%;
}

/* ------------------------------------------------- */


/* number, even, odd, 2n, 3n, n+4, -n+4 */

ul li:first-child{
    color: red;
}

ul li:last-child{
    color: green;
}

ul li:nth-child(2n){
    background-color: gray;
}

/* ul li:first-child::selection{
    background-color: red;
    color: green;
} */

p::selection{
    background-color: red;
    color: green;
}