/* 
    psudo-class: target an element's state
    psudo-elements: target specific parts of an element or create virtual content
*/

/* hover */

.demo{
    color: red;
}

.demo:hover{
    color: green;
}

.demo:active{
    background-color: black;
}

input{
    border: 2px solid black;
    outline: none;
}

input:focus{
    border-color: blue;
    border-radius: 10px;
}

a:link{
    color: red;;
}

a:visited{
    color: gray;
}

/* psudo elements */

/* first-letter, first-line */

.paragraph::first-letter{
    font-size: 50px;
    color: red;
}

.paragraph::first-line{
    background-color: red;
    font-weight: bold;
}