*{
    margin: 0;
}

:root{
    --primary-color: rgb(67, 164, 67);
}

.box_1{
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;
}

.box_2{
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: green;
    left: 60px;
    z-index: 1;
}

.box_3{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: blue;
    left: 30px;
}

.box_4 {
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: black;
    left: 90px;
    z-index: 2;
    opacity: 1;
}

.card{
    width: 350px;
    border: 2px solid black;
    padding: 3px;
}

.card > section{
    text-align: center;
}

.card{
    flex-shrink: 0;
}

.card > img{
    width: 100%;;
}

.card-container{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}