*{
    margin: 0;
}

:root{
    --primary-color: rgb(67, 164, 67);
}

.box_1{
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;
    z-index: 1;
    left: 90px;
}

.box_2{
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: green;
    left: 30px;
}

.box_3{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: blue;
    z-index: 1;
}